doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title PokeRanks
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css')
  body
    .section.red.lighten-1.white-text
      .center-align=moment(data[0].updated).format('YYYY / MM / DD')
    ul
      each pokemon, index in data[0].pokemons
        li.section
          .row
            .col.s12.center-align
              h2
                span=`No.${index + 1}`
                span &nbsp;
                if data[1]
                  - var found = false
                  each pokemon1, index1 in data[1].pokemons
                    if pokemon === pokemon1
                      - found = true
                      if index < index1
                        span.fa.fa-arrow-up.red-text= index1 - index
                      else if index > index1
                        span.fa.fa-arrow-down.green-text= index - index1
                      else
                        span.fa.fa-minus.blue-text
                  unless found
                    span.fa.fa-arrow-up.green-text NEW
                else
                  span.fa.fa-minus.blue-text
              img.responsive-img(src=`https://elite-four.github.io/pokemon-sprites/${pokemon}.png`)
