doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title PokeRanks
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css')
  body
    .section.red.lighten-1.white-text
      h1.center-align
        span PokeRanks
      .center-align= moment(ranks[0].updated).format('YYYY / MM / DD')
    ul
      - var index = 0
      - var limit = 20
      while index < limit
        li.section
          .row
            .col.s12.center-align
              - var id = ranks[0].pokemons[index][0]
                h2
                  span= "No." + (index + 1)
                  span &nbsp;
                  if ranks[1]
                    - var flag = true
                    each pokemon, i in ranks[1].pokemons
                      if ranks[0].pokemons[index][0] === pokemon[0]
                        - flag = false
                        if index < i
                          span.fa.fa-arrow-up.red-text= i - index
                        if index > i
                          span.fa.fa-arrow-down.green-text= index - i
                        if index === i
                          span.fa.fa-minus.blue-text
                    if flag
                      span.fa.fa-arrow-up.green-text NEW
                  else
                    span.fa.fa-minus.blue-text
                img.responsive-img(src=`https://elite-four.github.io/pokemon-sprites/${id}.png`)
            .col.s6
          if index < limit - 1
            .divider
        - index++
